<p id="notice"><%= notice %></p>

<p>
  <strong>r:</strong>
  <%= @thing.r %>
</p>

<p>
  <strong>h:</strong>
  <%= @thing.h %>
</p>

<p>
  <strong>path:</strong>
  <%= @thing.path %>
</p>

<p>
  <strong>pdf:</strong>
  <%= @pdf %>
</p>
