<h1>Query</h1>

<%= form_tag("/details", method: "get") do %>
  <%= label_tag(:q, "Name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:z, "SSN:") %>
  <%= text_field_tag(:ssn) %>
  <%= submit_tag("details") %>
<% end %>
